<!DOCTYPE HTML>
<!--
Plate UI
This little web app is used to design microplates and download them as a json.

Author: Yoav Ram <yoavram@gmail.com>
License: MIT
Date: 3 Apr 2015
 -->
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdn.rawgit.com/google/palette.js/master/palette.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.13.1/handsontable.full.min.js"></script>
	<script src="https://cdn.rawgit.com/mholt/PapaParse/master/papaparse.min.js"></script>

	<link rel="stylesheet" media="screen" href="https://cdn.rawgit.com/primer/primer/master/css/primer.css">
	<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.13.1/handsontable.full.min.css">
	<link rel="stylesheet" media="screen" href="http://handsontable.com/demo/css/samples.css">
	<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.css">

	<style type="text/css">
	body {
		margin: 20px;
	}
	.columns {
		margin-top: 20px;
	}
	.input-strain[type="text"] {
		width: 2.5em;
		height: 1.5em;
		text-align: center;
		font-weight: bold;
		font-size: 110%;
		padding: 0;
	}
	</style>
</head>
<body>
	<div class="container" ng-app="plateApp" ng-controller="plateCtrl">

		<h1><span class="mega-octicon octicon-arrow-right"></span> Plate UI <span class="mega-octicon octicon-cloud-download"></span> </h1>

		<div id="table" class="columns handsontable"></div>

		<div class="columns" >
			<div class="column tooltipped tooltipped-s" ng-repeat="strain in strains" aria-label="Change strain name">
				<input class="input-strain" type="text" ng-model="strain.name" style="background:{{ strain.color }}" onchange="javascript:datatable.render()">
			</div>
			<div class="column">
				<a class="btn btn-primary" href="javascript:download()" role="button" aria-label="Download plate file"><span class="octicon octicon-arrow-down"></span></a>
			</div>
		</div>
		<div class="columns">
			<div class="one-third column">
				<input type="file" id="file" name="file">
				<output id="list"></output>
			</div>
		</div>
	</div>
	<div class="columns">
		<div class="one-third column">
			&nbsp;
		</div>
		<div class="one-third column">
			<h6><small>
				<a href="https://gist.github.com/a71734f73c38f594fc90"><span class="octicon octicon-mark-github"></span></a> <a href="http://www.yoavram.com">yoavram</a>
			</small></h6>
		</div>
		<div class="one-third column">
			&nbsp;
		</div>
	</div>
	<a id="btnDownload" download="plate.csv" href="#" style="display: none"></a>

	<script>
	// Angular

	var pal = palette('cb-Set1', 9);
	var strains = [{name: '0', color: '#ffffff'}];
	pal.forEach(function(c,i) {
		strains[strains.length] = {name: (i+1).toString(), color: '#' + c};
	})
	var app = angular.module('plateApp', []);
	app.controller('plateCtrl', function($scope) {
		$scope.strains = strains;
	});

 	// Handsontable

	colorRenderer = function(instance, td, row, col, prop, value, cellProperties) {
		Handsontable.renderers.TextRenderer.apply(this, arguments);
		var name = td.innerHTML;
		var strain = strains.filter(function(obj) {return obj.name == name})[0];
		var color = strain.color;
		if (color) {
			td.style.backgroundColor = color;
		} else {
			td.style.backgroundColor = '#ffffff';
		}
	};

	var
	data = [["1","1","2","2","3","3","4","4","5","5","6","6"],
			["1","1","2","2","3","3","4","4","5","5","6","6"],
			["1","1","2","2","3","3","4","4","5","5","6","6"],
			["1","1","2","2","3","3","4","4","5","5","6","6"],
			["1","1","2","2","3","3","4","4","5","5","6","6"],
			["1","1","2","2","3","3","4","4","5","5","6","6"],
			["1","1","2","2","3","3","4","4","5","5","6","0"],
			["1","1","2","2","3","3","4","4","5","5","6","0"]];

	var container = document.getElementById('table');

	var datatable = new Handsontable(container, {
		data: data,
		colHeaders: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
		rowHeaders: ["A","B","C","D","E","F","G","H"],
		maxRows : 8,
		maxCols : 12,
		className: "htCenter",
		renderer: colorRenderer
	});

	// File

	function download() {
		var dataframe = [];
		data.forEach(function(row, i) {
			row.forEach(function(value, j) {
				dataframe[dataframe.length] = { row: datatable.getRowHeader(i),
																	col: datatable.getColHeader(j),
																	strain: value,
																	color: strains.filter(function(obj) {return obj.name == value})[0].color
																};
			});
		});
		var csv = Papa.unparse(dataframe);
		var url = URL.createObjectURL( new Blob([csv], {type: "text/csv"}) );
		var btn = document.getElementById('btnDownload');
		btn.href = url;
		btn.click();
	}
	function checkFileApi() {
		// Check for the various File API support.
		if (window.File && window.FileReader && window.FileList && window.Blob) {
		  return true;
		} else {
		  alert('The File APIs are not fully supported in this browser.');
			return false;
		}
	}
	function upload(evt) {
		if (!checkFileApi()) {
			return;
		}
		console.log("upload");
		Papa.parse(evt.target.files[0], {
			header: true,
			complete: function(results) {
				strains = [];
				results.data.forEach(function(row, i) {
					var strain = {name: row["strain"], color: row["color"]};
					if (strains.filter(function(obj) { return obj.name == strain.name }).length == 0) {
						strains[strains.length] = strain;
					}
				});
			}
		});
	}
	document.getElementById('file').addEventListener('change', upload, false);
	</script>
</body>
</html>
