<!DOCTYPE HTML>
<!-- 
Microplate UI
This little web app is used to design microplates and download them as a json.

Author: Yoav Ram <yoavram@gmail.com>
License: MIT
Date: 3 Apr 2015
 -->
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdn.rawgit.com/google/palette.js/master/palette.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.13.1/handsontable.full.min.js"></script>

	<link rel="stylesheet" media="screen" href="https://cdn.rawgit.com/primer/primer/master/css/primer.css">
	<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.13.1/handsontable.full.min.css">
	<link rel="stylesheet" media="screen" href="http://handsontable.com/demo/css/samples.css">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.css">
	
	<style type="text/css">
	body {	
		margin: 20px;
	}	
	.input-strain[type="text"] {
		width: 2.5em;
		height: 1.5em;
		text-align: center;	
		font-weight: bold;	
		font-size: 110%;
		padding: 0;
	}
	</style>
</head>
<body>
	<div class="container">
		
		<h1><span class="mega-octicon octicon-arrow-right"></span> Plate UI <span class="mega-octicon octicon-cloud-download"></span> </h1>
		
		<div id="table" class="columns handsontable"></div>

		<div class="columns" ng-app="plateApp" ng-controller="plateCtrl">		
			<div class="column" ng-repeat="strain in strains" id="strain.id">
				<input class="input-strain" type="text" ng-model="strain.name" style="background:#{{strain.color}}" onchange="javascript:datatable.render()">
			</div>
			<div class="column">
				<a class="btn" href="javascript:prepareDownload()" role="button"><span class="octicon octicon-arrow-down"></span></a>
				<a id="btnDownload" class="btn btn-primary" download="plate.json" href="#" role="button" style="display: none" onclick="javascript:this.style.display='none'" ><span class="octicon octicon-arrow-down"></span></a>
			</div>
		</div>
	</div>
	<br><br>
	<div class="columns">
		<div class="one-third column">
			&nbsp;
		</div>
		<div class="one-third column">
			<h6><small>
				<a href="#"><span class="octicon octicon-mark-github"></span></a> <a href="http://www.yoavram.com">@yoavram</a>
			</small></h6>
		</div>
		<div class="one-third column">
			&nbsp;
		</div>
	</div>
	<!-- Angular -->
	<script>
	var pal = palette('cb-Set1', 9);
	pal.unshift('ffffff');
	var strains = Array();
	pal.forEach(function(c,i) {
		var obj = {id: i, name: i.toString(), color: c};  		
		strains.push(obj);
	})
	var app = angular.module('plateApp', []);
	app.controller('plateCtrl', function($scope) {
		$scope.strains = strains;			
	});	
	</script>

	<!-- Handsontable -->
	<script>

	colorRenderer = function(instance, td, row, col, prop, value, cellProperties) {
		Handsontable.renderers.TextRenderer.apply(this, arguments);		
		var strainName = td.innerHTML;	
		var strain = strains.filter(function(obj) {return obj.name == strainName; })[0];
		if (strain) {
			td.style.backgroundColor = '#'+strain.color;
		} else {
			td.style.backgroundColor = '#ffffff';
		}
	};

	var 
	data = [[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	[0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0],
	[0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0],
	[0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0],
	[0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0],
	[0, 0, 0, 0, 0, 0, 4, 4, 0, 0, 0, 0],
	[0, 0, 0, 0, 0, 0, 4, 4, 0, 0, 0, 0]];

	var container = document.getElementById('table');

	var datatable = new Handsontable(container, {
		data: data,
		colHeaders: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
		rowHeaders: ["A","B","C","D","E","F","G","H"],
		maxRows : 8,
		maxCols : 12,
		className: "htCenter",
		renderer: colorRenderer    
	});

	function getBlob() {
		var json = JSON.stringify(datatable.getData());
		return URL.createObjectURL( new Blob([json], {type: "application/json"}) );
	}

	function prepareDownload() {
		var url = getBlob();
		var btn = document.getElementById('btnDownload');
		btn.href = url;
		btn.style.display = '';
	}
	</script>
</body>
</html>